body{
  background-color: #191b1f;
  margin: 0;
}

.auth_menu{
top:0;
left: 0;
position: fixed;
background-color: #141414;
width: 100%;
height: 100%;
z-index: 2;

}
.auth_cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth_text{
  margin-top: 0;
  color: white;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 32px;
  text-align: center;
}
.auth_butt{
  text-align: center;
  color: white;
  font-size: 26px;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
    user-select: none;
}
.vk_logo{
  vertical-align: middle;
  width: 34px;
  height: 34px;
  padding-right:16px;
}
.vk_text{
  margin-top: 0;
  background-color:#9600e6;
  display: inline-block;
  padding: 20px;
  border-radius: 30px;
  transition: 0.05s;
}
.vk_text:active{
background-color:#68009f;
}
.vk_text:hover{
box-shadow: 0px 2px 12px #8142a3;
transition: 0.15s;
}

header{
  position: relative;
  background-color:#222222;
  border-bottom: 1px solid #333333;
  font-size:0;
  margin-bottom: 24px;
}
.logo{
  display: inline-block;
}
.main_menu{
  margin-left: 10%;
    user-select: none;

}
.logo_image{
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left:12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 8px;
  border-radius: 10px;
  background-color: #9600e6;
  display: inline-block;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}
.logo_text{
  display: inline-block;
  color:white;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-right: 12px;

}
.header_elem{
 display: inline-block;
 font-family: Tahoma,Verdana,Segoe,sans-serif;
 color: white;
 font-size: 18px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 4px;
 padding-bottom: 4px;
 border-right: 1px solid #333333;

}
.header_elem p{
  display: inline-block;
  vertical-align: middle;
}
.header_icon{
  margin-right: 8px;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  display: inline-block;

}
.header_elem:hover{
  background-color:#414141;
}





.center{
  position: relative;
  text-align: center;
}
#content{
  border: 1px solid #333333;
  padding: 4.5vh;
  display: inline-block;
  vertical-align: top;
  background: black;
  overflow: hidden;
  z-index: 1;
  height: 90%;
}
.left{
  bottom: 0; top: 0;
  margin-left: -4.5vh;
  position: absolute;
  width: 12vh;
  border-radius:0 100% 100% 0;
  height: 100%;
  background-color: red;
  opacity: 0.5;
}
.right{
  display: inline-block;
  bottom: 0; top: 0;
  position: absolute;
  width: 12vh;
  margin-left: -12vh;
  border-radius:100% 0 0 100%;
  height: 100%;
  background-color: blue;
  opacity: 0.5;
}
.image{
  max-width: 700px;
  max-height: 500px;
  height: 50vh;
  border: 4px solid white;
}
.phrase{
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5vh;
  text-align: center;
  color:white;
}
