

.auth_menu{
top:0;
left: 0;
position: fixed;
background-color: #191b1f;
width: 100%;
height: 100%;
z-index: 2;
}
.auth_cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth_text{
  margin-top: 0;
  color: white;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 32px;
  text-align: center;
}
.auth_butt{
  text-align: center;
  color: white;
  font-size: 26px;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
}
.vk_logo{
  margin-top: 2px;
  vertical-align: top;
  width: 34px;
  height: 34px;
  padding-right:16px;
}
.vk_text{
  margin-top: 0;
  background-color:#9600e6;
  display: inline-block;
  padding: 20px;
  border-radius: 30px;
  transition: 0.05s;
  user-select: none;
}
.vk_text:active{
background-color:#68009f;
}
.vk_text:hover{
box-shadow: 0px 2px 12px #8142a3;
transition: 0.15s;
}
.center{
  position: relative;
  text-align: center;
}
#content{
  margin: 0 auto;
  display: inline-block;
  padding:20px;
  background: black;
  overflow: hidden;
  z-index: 1;
}

.image{
  max-width: 600px;
  max-height: 600px;
  border: 4px solid white;
}
.phrase{
  font-family: 'Times New Roman', Times, serif;
  font-size: 42px;
  text-align: center;
  color:white;
}
