body{
  background-color: #191b1f;
  margin: 0;
}

.auth_menu{
top:0;
left: 0;
position: fixed;
background-color: #141414;
width: 100%;
height: 100%;
z-index: 10;
}
.auth_cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth_text{
  margin-top: 0;
  color: white;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 32px;
  text-align: center;
}
.auth_butt{
  text-align: center;
  color: white;
  font-size: 26px;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
    user-select: none;
}
.vk_logo{
  vertical-align: middle;
  width: 34px;
  height: 34px;
  padding-right:16px;
}
.vk_text{
  margin-top: 0;
  background-color:#9600e6;
  display: inline-block;
  padding: 20px;
  border-radius: 30px;
  transition: 0.05s;
}
.vk_text:active{
background-color:#68009f;
}
.vk_text:hover{
box-shadow: 0px 2px 12px #8142a3;
transition: 0.15s;
}

header{
  position: relative;
  background-color:#222222;
  border-bottom: 1px solid #333333;
  font-size:0;
  margin-bottom: 24px;
}
.logo{
  display: inline-block;
}
.main_menu{
  margin-left: 10%;
    user-select: none;

}
.logo_image{
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left:12px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 8px;
  border-radius: 10px;
  background-color: #9600e6;
  display: inline-block;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}
.logo_text{
  display: inline-block;
  color:white;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-right: 12px;

}
.header_elem{
 display: inline-block;
 font-family: Tahoma,Verdana,Segoe,sans-serif;
 color: white;
 font-size: 18px;
 padding-left: 12px;
 padding-right: 12px;
 padding-top: 4px;
 padding-bottom: 4px;
 border-right: 1px solid #333333;

}
.header_elem p{
  display: inline-block;
  vertical-align: middle;
}
.header_icon{
  margin-right: 8px;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  display: inline-block;

}
.header_elem:hover{
  background-color:#414141;
}

.center{
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}
#content{
  border: 1px solid #333333;
  padding: 40px;
  display: inline-block;
  vertical-align: top;
  background: black;
  overflow: hidden;
  z-index: 1;
}

.left_check{
   display: inline-block;
   font-size: 0;
}
.left{
  bottom: 0; top: 0;
  margin-left: 0.5vh;
  position: absolute;
  width: 140px;
  border-radius:0 20vh 20vh 0;
  height: 100%;
  transition: 0.5s;
  z-index: 4;
  opacity: 0;
  display: none;
}
.left:hover{
background-color: rgba(150, 0, 230, 0.5);
}

.right_check{
   display: inline-block;
}
.right{
  bottom: 0; top: 0;
  position: absolute;
  width: 140px;
  margin-left: -145px;
  border-radius:20vh 0 0 20vh;
  height: 100%;
  transition: 0.5s;
  z-index: 4;
  vertical-align: middle;
  opacity: 0;
  display: none;
}
.right:hover {
  background-color: rgba(150, 0, 230, 0.5);
  }

i {
  position: absolute;
  top: 50%;
  border: solid white;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 12px;
  translate: translate(0, -50%);
}
.right i{
  transform: rotate(-45deg) ;
  right:10px;
}
.left i{
  transform: rotate(135deg) ;
  left:10px;
}
.image{
  max-width: 620px;
  max-height: 480px;
  border: 4px solid white;
}
.phrase{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 34px;
  text-align: center;
  color:white;
}
footer{
  position: fixed;
  font-size:0;
  bottom:0;
  left: 0;
  z-index: 6;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.panel{
  display: inline-block;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}
.back_elem{
  vertical-align: bottom;
  display: inline-block;
  background-color:#222222;
  border-top: 1px solid #333333;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}
.back_icon{
  vertical-align: bottom;
  width: 30px;
  height: 30px;
  display: inline-block;
  opacity: 0.5;
}
.back_icon:hover{
  opacity: 1;
}
.rate_panel{
  background-color:#222222;
  border-top: 1px solid #333333;
  border-radius:  100% 100% 0 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  display: inline-block;
}
.rating{
  width: 64px;
  height: 64px;
  margin-left: 10px;
  opacity: 0.5;
}
.rating:hover{
opacity: 1;
}
.free_panel{
  background-color:#222222;
  border-top: 1px solid #333333;
  border-radius:  50% 50% 0 0;
  padding-top: 31px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  display: inline-block;
  font-size: 20px;
}
.rating_value{
  display: inline-block;
  vertical-align: middle;
  padding-bottom:8px;
  font-size: 32px;
  margin-bottom: 0;
    margin-top: 0;
  color: #9600e6;
}

.rating_icon{
  width: 28px;
  height: 28px;
  display: inline-block;

}
.rating_text{
  margin-top: 0;
  display: inline-block;
  margin-bottom: 0;

}
.id_text{
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
  margin-bottom: 0;
  color: white;
  opacity: 0.4;
  padding-top:4px;
  padding-bottom: 4px;

}
.photo_value{
  color: white;
  border-bottom: 3px solid white;
  border-right:3px solid white;
  border-radius: 0 0 12px 0px;
  display: inline-block;
  margin-right:10px;
  opacity: 0.4;
}
.photo_value:hover{
  opacity: 1;
}
#numOfImage{
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: white;
  width: 60px;
  font-size: 20px;
}
.rate{
  display: inline-block;
}

.free{
  display: inline-block;
  display: none;
}
